/src/*
!/src/turtle_bringup
/src/turtle_bringup/*
!/src/turtle_bringup/launch
/src/turtle_bringup/launch/*
!/src/turtle_bringup/launch/sim.launch.py

/build
/install
/log
.course-kit/
robotics-course-kit-*.tar.gz
robotics-course-kit-*.sha256.txt
course-kit.tar.gz